<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>About - Apple Tree Book</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="header">
		<div class="section">
			<a href="index.html"><img src="images/logo.jpg" alt="Image"></a>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				
				<li class="current">
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		<div id="subscribenow">
			<a href="index.html">Gợi ý sách</a>
		</div>
		<span></span>
	</div>
	<div id="body">
		<div>
			<div>
				<div >
					<div id="content" >
						<h2>About us</h2>
						<div id="about">
							<h3>Chúng tôi là sinh viên</h3>
							<p>
								Chúng tôi là nhóm sinh viên năm 4 khoa công nghệ thông tin trường đại học Bách Khoa Hà Nội. Chúng tôi tạo ra trang web này là một bài tập lớn gửi tới thầy Phạm Thanh Hải trong môn hệ cơ sở tri thức.
							</p>
							<h3>Các thành viên</h3>
							<p>
								Nguyễn Thị Phương Hằng
								Trần Thị Hồng Giang
								Hoàng Thế Hà
							</p>
							
							<h3>Về trang web</h3>
							<p>
								Trang web được xây dựng do hiện nay trình độ dân trí cao, các phụ huynh mong muốn dạy con đọc sách từ bé, muốn con phát triển nhanh và phong phú trong tư duy cũng như tình cảm.Thêm vào đó, Hiện nay có nhan nhản những cuốn sách “thị trường” được quảng bá một cách rầm rộ, thậm chí được tác giả đặt những cái tên vô cùng ấn tượng, đặc biệt là sách thiếu nhi, điều này khiến bậc cha mẹ băn khoăn liệu rằng sách có hữu ích, ngôn ngữ có được chau chuốt để phù hợp với độ tuổi của bé! Những cuốn sách này là những cuốn đã nhận được feedback từ người dùng, là cuốn sách tin cậy sẽ làm hài lòng các bậc cha mẹ!
							</p>
						</div>
					</div>
					<div id="sidebar">
						<h3>Những lời khuyên khi dạy bé đọc sách</h3>
						<ul>
							<li id="fruitsalad">
								<h2>Khi nào đọc sách cho bé!</h2>
								<p>
									<a href="http://belliblossom.com.vn/blog/khi-nao-nen-doc-sach-cho-be-nghe.html"> Nên bắt đầu đọc sách cho bé nghe từ lúc nào và chọn lọc những gì ...</a>
								</p>
							</li>
							<li id="bakeapples">
								<h2>Lợi ích của việc bố mẹ đọc sách cho bé </h2>
								<p>
									<a href="http://kaviokids.com.vn/vi/loi-ich-cua-viec-bo-me-doc-sach-cho-tre-nho">Có rất nhiều cha mẹ chọn việc đọc sách cho bé trước khi đi ngủ để bé  ...</a>
								</p>
							</li>
							<li id="news">
								<h2>Latest Apple News</h2>
								<p>
									
								</p>
							</li>
							<li id="address">
								<h2>Address</h2>
								<p>
										9-team- Hệ cơ sở tri thức
									Đại học Bách Khoa Hà Nội

								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<div>
					<div class="section">
						<span><a href="blog.html"><img src="images/baby.png" alt="Image"></a></span>
						<h3></h3>
						<p>
							
						</p>
					</div>
				</div>
				<div>
					<div class="section">
						<div>
							<p>
							
							</p>
						</div>
					</div>
					<div class="connect">
						<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus">Google&#43;</a>
						<a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" class="mail">Mail</a>
						<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook">Facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter">Twitter</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p class="footnote">
				&copy; 2016 BK@ SOICT 
			</p>
		</div>
	</div>
</body>
</html>