<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Apple Tree Book</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="header">
		<div class="section">
			<a href="index.html"><img src="images/logo.jpg" alt="Image"></a>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
			
				<li>
					<a href="about.html">About</a>
				</li>
				<li class="current">
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		<div id="subscribenow">
			<a href="index.html">Gợi ý sách</a>
		</div>
		<span></span>
	</div>
	<div id="body">
		<div>
			<div>
				<div>
					<div id="content">
						<h2>Contact us</h2>
						<div id="contactus">
							<h3>Chúng tôi mong nhận được sự góp ý từ các bạn</h3>
							<p>
								E-mail: manucian1407@gmail.com
							</p>
							<p>
								Gọi cho chúng tôi qua đường dây nóng <br><br>
							</p>
							<b>Phương Hằng: 01667701418</b>
						</div>
					</div>
					<div id="sidebar">
						<h3>Những lời khuyên khi dạy bé đọc sách</h3>
						<ul>
								<li id="fruitsalad">
								<h2>Khi nào đọc sách cho bé!</h2>
								<p>
									<a href="http://belliblossom.com.vn/blog/khi-nao-nen-doc-sach-cho-be-nghe.html"> Nên bắt đầu đọc sách cho bé nghe từ lúc nào và chọn lọc những gì ...</a>
								</p>
							</li>
							<li id="bakeapples">
								<h2>Lợi ích của việc bố mẹ đọc sách cho bé </h2>
								<p>
									<a href="http://kaviokids.com.vn/vi/loi-ich-cua-viec-bo-me-doc-sach-cho-tre-nho">Có rất nhiều cha mẹ chọn việc đọc sách cho bé trước khi đi ngủ để bé ...</a>
								</p>
							</li>
							<li id="news">
								<h2>Apple tree book</h2>
								<p>
									Trang web được tạo ra bởi nhóm sinh viên công nghệ thông tin trường đại học Bách Khoa Hà Nội trong quá trình làm bài tập lớn môn Hệ cơ sở tri thức
								</p>
							</li>
							<li id="address">
								<h2>Address</h2>
								<p>
									9-team- Hệ cơ sở tri thức
									Đại học Bách Khoa Hà Nội

								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<div>
					<div class="section">
						<span><a href="blog.html"><img src="images/baby.png" alt="Image"></a></span>
						<h3></h3>
						<p>
							
						</p>
					</div>
				</div>
				<div>
					<div class="section">
						<div>
							<p>
							
							</p>
						</div>
					</div>
					<div class="connect">
						<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus">Google&#43;</a>
						<a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" class="mail">Mail</a>
						<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook">Facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter">Twitter</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p class="footnote">
				&copy; 2016@BK SOICT
			</p>
		</div>
	</div>
</body>
</html>