<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <title>Apple Tree Book</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  
  
    <!-- Custom Fonts -->
    
</head>
<body>
  <div id="header">
    <div class="section">
      <a href="index.html"><img src="images/logo.jpg" alt="Image"></a>
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
      
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
    <div id="subscribenow">
      <a href="index.html">Gợi ý sách</a>
    </div>
    <span></span>
  </div>
  <div id="body">
    <div class="title_page">
      Kết quả gợi ý của chuyên gia
    </div>
  <div class="modal">
            <div class="row">
				  <div class="left">
					<div class="picture_book">
					   <img src="images/truyen1.jpg">
				  </div>
				</div>
              <div>
               <div class="title">Công chúa ngủ trong rừng</div>
               <h3> Nhà xuất bản Kim Đồng</h3>
               <h3>Giá sách: 40.000đ</h3>
               <h3>Lời tựa:“Hoàng Tử Bé” là một câu chuyện độc đáo đưa chúng ta đến với những điều kỳ diệu về thế giới xung quanh, được kể lại bởi một phi công lái chiếc máy bay bị hỏng và phải hạ cánh xuống giữa sa mạc Sahara. Một cậu trai trẻ tiến đến chỗ ông và nhờ ông vẽ một con cừu. Vị phi công đồng ý, và cả hai nhanh chóng trở thành bạn bè. Cậu trai trẻ, cũng chính là hoàng tử bé, đến từ một hành tinh rất xa mà cậu có trách nhiệm chăm lo, cho đến khi cậu lỡ phải lòng một bông hồng. Buồn thay, bông hồng ấy lại khiến trái tim cậu tan vỡ, do đó cậu quyết định du hành và khám phá những hành tinh khác. Hoàng tử bé được tận mắt chứng kiến một thế giới có những người lớn với lòng dạ nhỏ nhen, chỉ chăm chăm vào việc của bản thân. Vị phi công và hoàng tử bé đã cùng nhau ngẫm ra được bài học về những gì làm nên tầm quan trọng và viên mãn của cuộc sống.</h3>

              </div>
            </div>
            <div class="row">
              <div class="left">
                <div class="picture_book">
                   <img src="images/nai.jpg">
              </div>
            </div>
              <div>
               <div class="title">Công chúa ngủ trong rừng</div>
               <h3> Nhà xuất bản Kim Đồng</h3>
               <h3>Giá sách: 40.000đ</h3>
               <h3>Lời tựa:“Hoàng Tử Bé” là một câu chuyện độc đáo đưa chúng ta đến với những điều kỳ diệu về thế giới xung quanh, được kể lại bởi một phi công lái chiếc máy bay bị hỏng và phải hạ cánh xuống giữa sa mạc Sahara. Một cậu trai trẻ tiến đến chỗ ông và nhờ ông vẽ một con cừu. Vị phi công đồng ý, và cả hai nhanh chóng trở thành bạn bè. Cậu trai trẻ, cũng chính là hoàng tử bé, đến từ một hành tinh rất xa mà cậu có trách nhiệm chăm lo, cho đến khi cậu lỡ phải lòng một bông hồng. Buồn thay, bông hồng ấy lại khiến trái tim cậu tan vỡ, do đó cậu quyết định du hành và khám phá những hành tinh khác. Hoàng tử bé được tận mắt chứng kiến một thế giới có những người lớn với lòng dạ nhỏ nhen, chỉ chăm chăm vào việc của bản thân. Vị phi công và hoàng tử bé đã cùng nhau ngẫm ra được bài học về những gì làm nên tầm quan trọng và viên mãn của cuộc sống.</h3>

              </div>
            </div>
              <div class="row">
              <div class="left">
                <div class="picture_book">
                   <img src="images/truyen4.jpg">
              </div>
            </div>
              <div>
               <div class="title">Công chúa ngủ trong rừng</div>
               <h3> Nhà xuất bản Kim Đồng</h3>
               <h3>Giá sách: 40.000đ</h3>
               <h3>Lời tựa:“Hoàng Tử Bé” là một câu chuyện độc đáo đưa chúng ta đến với những điều kỳ diệu về thế giới xung quanh, được kể lại bởi một phi công lái chiếc máy bay bị hỏng và phải hạ cánh xuống giữa sa mạc Sahara. Một cậu trai trẻ tiến đến chỗ ông và nhờ ông vẽ một con cừu. Vị phi công đồng ý, và cả hai nhanh chóng trở thành bạn bè. Cậu trai trẻ, cũng chính là hoàng tử bé, đến từ một hành tinh rất xa mà cậu có trách nhiệm chăm lo, cho đến khi cậu lỡ phải lòng một bông hồng. Buồn thay, bông hồng ấy lại khiến trái tim cậu tan vỡ, do đó cậu quyết định du hành và khám phá những hành tinh khác. Hoàng tử bé được tận mắt chứng kiến một thế giới có những người lớn với lòng dạ nhỏ nhen, chỉ chăm chăm vào việc của bản thân. Vị phi công và hoàng tử bé đã cùng nhau ngẫm ra được bài học về những gì làm nên tầm quan trọng và viên mãn của cuộc sống.</h3>

              </div>
            </div>
              <div class="row">
              <div class="left">
                <div class="picture_book">
                   <img src="images/truyen3.jpg">
              </div>
            </div>
              <div>
               <div class="title">Công chúa ngủ trong rừng</div>
               <h3> Nhà xuất bản Kim Đồng</h3>
               <h3>Giá sách: 40.000đ</h3>
               <h3>Lời tựa:“Hoàng Tử Bé” là một câu chuyện độc đáo đưa chúng ta đến với những điều kỳ diệu về thế giới xung quanh, được kể lại bởi một phi công lái chiếc máy bay bị hỏng và phải hạ cánh xuống giữa sa mạc Sahara. Một cậu trai trẻ tiến đến chỗ ông và nhờ ông vẽ một con cừu. Vị phi công đồng ý, và cả hai nhanh chóng trở thành bạn bè. Cậu trai trẻ, cũng chính là hoàng tử bé, đến từ một hành tinh rất xa mà cậu có trách nhiệm chăm lo, cho đến khi cậu lỡ phải lòng một bông hồng. Buồn thay, bông hồng ấy lại khiến trái tim cậu tan vỡ, do đó cậu quyết định du hành và khám phá những hành tinh khác. Hoàng tử bé được tận mắt chứng kiến một thế giới có những người lớn với lòng dạ nhỏ nhen, chỉ chăm chăm vào việc của bản thân. Vị phi công và hoàng tử bé đã cùng nhau ngẫm ra được bài học về những gì làm nên tầm quan trọng và viên mãn của cuộc sống.</h3>

              </div>
            </div>
              <div class="row">
              <div class="left">
                <div class="picture_book">
                   <img src="images/truyen2.jpg">
              </div>
            </div>
              <div>
               <div class="title">Công chúa ngủ trong rừng</div>
               <h3> Nhà xuất bản Kim Đồng</h3>
               <h3>Giá sách: 40.000đ</h3>
               <h3>Lời tựa:“Hoàng Tử Bé” là một câu chuyện độc đáo đưa chúng ta đến với những điều kỳ diệu về thế giới xung quanh, được kể lại bởi một phi công lái chiếc máy bay bị hỏng và phải hạ cánh xuống giữa sa mạc Sahara. Một cậu trai trẻ tiến đến chỗ ông và nhờ ông vẽ một con cừu. Vị phi công đồng ý, và cả hai nhanh chóng trở thành bạn bè. Cậu trai trẻ, cũng chính là hoàng tử bé, đến từ một hành tinh rất xa mà cậu có trách nhiệm chăm lo, cho đến khi cậu lỡ phải lòng một bông hồng. Buồn thay, bông hồng ấy lại khiến trái tim cậu tan vỡ, do đó cậu quyết định du hành và khám phá những hành tinh khác. Hoàng tử bé được tận mắt chứng kiến một thế giới có những người lớn với lòng dạ nhỏ nhen, chỉ chăm chăm vào việc của bản thân. Vị phi công và hoàng tử bé đã cùng nhau ngẫm ra được bài học về những gì làm nên tầm quan trọng và viên mãn của cuộc sống.</h3>

              </div>
            </div>
      
          </div>
     
        </div>
  <div id="footer">
    <div>
      <div>
        <div>
          <ul>
            <li>
              <img src="images/biking.png" alt="Image">
              <div>
                
                <p>
                   Để cho con một hòm vàng không bằng dạy cho con một quyển sách hay. (Vi Hiền Truyện)
                </p>
              </div>
            </li>
            <li>
              <img src="images/children.png" alt="Image">
              <div>
                
                <p>
                   Nhà bác học Anbert Einstein đã từng có câu nói nổi tiếng: 'Nếu muốn trẻ con thông minh, hãy đọc cho chúng nghe những câu chuyện cổ tích'. 
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <div class="section">
            <span><img src="images/baby.png" alt="Image"></span>
            <h3></h3>
            <p>
              
            </p>
          </div>
          <div class="connect">
            <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus">Google&#43;</a>
            <a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" class="mail">Mail</a>
            <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook">Facebook</a>
            <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter">Twitter</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="footnote">
        &copy; 2016@BK SOICT
      </p>
    </div>
  </div>
</body>
</html>
